<body>

{include file="$tpl_name"}    
    
1111111

{if $name == 'Vasya' }
Переданная переменная - {$name}
{else}
Другая переменная
{/if}

<br/>
<br/>
<br/>
<br/>

<a class="cm-dialog-opener cm-dialog-auto-size" data-ca-target-id="open_id">Ссылка-открывашка модальное окошко</a>

<div class="hidden" id="open_id" title="Заголовок окна">
    <p>
        Я люблю тебя больше, чем Море, и Небо, и Пение,<br/>
        Я люблю тебя дольше, чем дней мне дано на земле.<br/>
        Ты одна мне горишь, как звезда в тишине отдаления,<br/>
        Ты корабль, что не тонет ни в снах, ни в волнах, ни во мгле.
    </p>
</div>