<!DOCTYPE html>
<html lang="en">
    <head>

        {% spaceless %}

            <meta charset="UTF-8">
            <title>{% block title %}{% endblock %} Управляй управляемым</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <link rel="stylesheet" href="{{ sdd }}font/iconsmind/style.css" />
            <link rel="stylesheet" href="{{ sdd }}font/simple-line-icons/css/simple-line-icons.css" />

            <link rel="stylesheet" href="{{ sdd }}css/vendor/bootstrap.min.css" />

            {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            {# 4.3.1 #}
            {# <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous"> #}

            <link rel="stylesheet" href="{{ sdd }}css/vendor/perfect-scrollbar.css" />
            <link rel="stylesheet" href="{{ sdd }}css/vendor/jquery.contextMenu.min.css" />
            <link rel="stylesheet" href="{{ sdd }}css/main.css" />

            {#<link rel="stylesheet" href="/didrive/css.css" />#}

            {# <link rel="stylesheet" href="{{ sdd }}css/dore.light.blue.min.css" /> #}
            <link rel="stylesheet" href="{{ sdd }}css/dore.light.blue.css" />
            <link rel="stylesheet" href="{{ sdd }}../../template/preloader4/css.min.css">

            {# авторизация вк для ядомика #}
            {# <script src="https://vk.com/js/api/openapi.js?167" type="text/javascript"></script> #}

        {% endspaceless %}

        {% if 1 == 55 %}

            <script src="https://unpkg.com/vue"></script>
            <link rel="stylesheet" type="text/css" href="/style.css" />
            <!-- template for the modal component -->
            <script type="text/x-template" id="modal-template">
                <transition name="modal">
                <div class="modal-mask">
                <div class="modal-wrapper">
                <div class="modal-container">

                <div class="modal-header">
                <slot name="header">
                default header
                </slot>
                </div>

                <div class="modal-body">
                <slot name="body">
                default body
                </slot>
                </div>

                <div class="modal-footer">
                <slot name="footer">
                default footer
                <button class="modal-default-button" @click="$emit('close')">
                OK
                </button>
                </slot>
                </div>
                </div>
                </div>
                </div>
                </transition>
            </script>        
        {% endif %}

    </head>
    <body id="app-container" class="menu-default xshow-spinner">

        {% spaceless %}

            {% include sdd ~'../../template/preloader4/up.htm' %}
            {% include sdd ~'../tpl/didrive.header.htm' %}
            {% include sdd ~'../tpl/didrive.sidebar.htm' %}

            <main>

                {#{ pa(session) }#}

            {% endspaceless %}

            {% if get.warn is defined %}
                <div style="background-color:yellow;padding:10px;color:red;" >{{ get.warn }}</div>
            {% endif %}






            {% if 1 == 55 %}

                <!-- app -->
                <div id="app">
                    <button id="show-modal" @click="showModal = true">Show Modal</button>
                    <!-- use the modal component, pass in the prop -->
                    <modal v-if="showModal" @close="showModal = false">
                        <!--
                      you can use custom content here to overwrite
                      default content
                        -->
                        <h3 slot="header">custom header</h3>
                    </modal>
                </div>

                <script>
// register modal component
                    Vue.component("modal", {
                        template: "#modal-template"
                    });

// start app
                    new Vue({
                        el: "#app",
                        data: {
                            showModal: false
                        }
                    });
                </script>

                <style>
                    .modal-mask {
                        position: fixed;
                        z-index: 9998;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);
                        display: table;
                        transition: opacity 0.3s ease;
                    }

                    .modal-wrapper {
                        display: table-cell;
                        vertical-align: middle;
                    }

                    .modal-container {
                        width: 300px;
                        margin: 0px auto;
                        padding: 20px 30px;
                        background-color: #fff;
                        border-radius: 2px;
                        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
                        transition: all 0.3s ease;
                        font-family: Helvetica, Arial, sans-serif;
                    }

                    .modal-header h3 {
                        margin-top: 0;
                        color: #42b983;
                    }

                    .modal-body {
                        margin: 20px 0;
                    }

                    .modal-default-button {
                        float: right;
                    }

                    /*
                     * The following styles are auto-applied to elements with
                     * transition="modal" when their visibility is toggled
                     * by Vue.js.
                     *
                     * You can easily play with the modal transition by editing
                     * these styles.
                     */

                    .modal-enter {
                        opacity: 0;
                    }

                    .modal-leave-active {
                        opacity: 0;
                    }

                    .modal-enter .modal-container,
                    .modal-leave-active .modal-container {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }

                </style>

            {% endif %}













            {% if hide_nav is not defined %}            
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style='background-color: rgba(0,0,0,0.05);'>
                        {#
                        <li class="breadcrumb-item"><a href="/" target='_blank' >Сайт</a></li>
                        #}
                        <li class="breadcrumb-item"><a href="/didrive/" >DiDrive</a></li>

                        {# % block block1 %}{% endblock % #}

                        {% if krohi.1.text is defined %}
                            <li class="breadcrumb-item"><a href="/i.didrive.php?level{% if get.level_di is defined %}_di{% endif %}={{ krohi.1.uri }}" >{{ krohi.1.text }}</a></li>
                            {% endif %}

                        {% if krohi.2.text is defined %}
                            <li class="breadcrumb-item"><a href="/i.didrive.php?level{% if get.level_di is defined %}_di{% endif %}={{ krohi.2.uri }}" >{{ krohi.2.text }}</a></li>
                            {% endif %}

                    </ol>
                </nav>            
            {% endif %}

            {% if warn_2 is defined and warn_2 is not empty %}
                <div class="alert-warning bg-warning " style="padding:10px 20px;">{{ warn_2|raw }}</div>
            {% endif %}

            {% if warn is defined and warn is not empty %}
                <div class="alert-warning xwarn " style="padding:10px 20px; margin: 0;">{{ warn|raw }}</div>
            {% endif %}



            {#
            <div style='z-index:500; position:fixed;bottom:20px; right:20px; padding:20px; background-color:rgba(255,255,255,0.7); ' >шаблон в центр: {{ tpl_body }}</div>
            #}



            {#
            11
            {{ pa(menu) }}
            22
            {{ pa(a_menu) }}
            #}



            {#{ pa(now_level) }#}




            {% if tpl_body is defined and tpl_body is not empty %}
                {#{{ tpl_body }}#}
                {% include tpl_body %}
            {% endif %}




            {# 

            <div class="container-fluid disable-text-selection">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-2">
                            <h1>Layout List</h1>
                            <div class="float-sm-right text-zero">
                                <button type="button" class="btn btn-primary btn-lg top-right-button mr-1">ADD NEW</button>

                                <div class="btn-group ">
                                    <div class="btn btn-primary btn-lg pl-4 pr-0 check-button">
                                        <label class="custom-control custom-checkbox mb-0 d-inline-block">
                                            <input type="checkbox" class="custom-control-input" id="checkAll">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                    <button type="button" class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split pl-2 pr-2"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </div>
                                </div>
                            </div>
                            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                                <ol class="breadcrumb pt-0">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#">Library</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                                </ol>
                            </nav>
                        </div>

                        <div class="mb-2">
                            <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                               role="button" aria-expanded="true" aria-controls="displayOptions">
                                Display Options
                                <i class="simple-icon-arrow-down align-middle"></i>
                            </a>
                            <div class="collapse d-md-block" id="displayOptions">
                                <span class="mr-3 mb-2 d-inline-block float-md-left">
                                    <a href="#" class="mr-2 view-icon active">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                        <path class="view-icon-svg" d="M17.5,3H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                                        <path class="view-icon-svg" d="M17.5,10H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                                        <path class="view-icon-svg" d="M17.5,17H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" /></svg>
                                    </a>
                                    <a href="#" class="mr-2 view-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                        <path class="view-icon-svg" d="M17.5,3H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" />
                                        <path class="view-icon-svg" d="M3,2V3H1V2H3m.12-1H.88A.87.87,0,0,0,0,1.88V3.12A.87.87,0,0,0,.88,4H3.12A.87.87,0,0,0,4,3.12V1.88A.87.87,0,0,0,3.12,1Z" />
                                        <path class="view-icon-svg" d="M3,9v1H1V9H3m.12-1H.88A.87.87,0,0,0,0,8.88v1.24A.87.87,0,0,0,.88,11H3.12A.87.87,0,0,0,4,10.12V8.88A.87.87,0,0,0,3.12,8Z" />
                                        <path class="view-icon-svg" d="M3,16v1H1V16H3m.12-1H.88a.87.87,0,0,0-.88.88v1.24A.87.87,0,0,0,.88,18H3.12A.87.87,0,0,0,4,17.12V15.88A.87.87,0,0,0,3.12,15Z" />
                                        <path class="view-icon-svg" d="M17.5,10H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" />
                                        <path class="view-icon-svg" d="M17.5,17H6.5a.5.5,0,0,1,0-1h11a.5.5,0,0,1,0,1Z" /></svg>
                                    </a>
                                    <a href="#" class="mr-2 view-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                                        <path class="view-icon-svg" d="M7,2V8H1V2H7m.12-1H.88A.87.87,0,0,0,0,1.88V8.12A.87.87,0,0,0,.88,9H7.12A.87.87,0,0,0,8,8.12V1.88A.87.87,0,0,0,7.12,1Z" />
                                        <path class="view-icon-svg" d="M17,2V8H11V2h6m.12-1H10.88a.87.87,0,0,0-.88.88V8.12a.87.87,0,0,0,.88.88h6.24A.87.87,0,0,0,18,8.12V1.88A.87.87,0,0,0,17.12,1Z" />
                                        <path class="view-icon-svg" d="M7,12v6H1V12H7m.12-1H.88a.87.87,0,0,0-.88.88v6.24A.87.87,0,0,0,.88,19H7.12A.87.87,0,0,0,8,18.12V11.88A.87.87,0,0,0,7.12,11Z" />
                                        <path class="view-icon-svg" d="M17,12v6H11V12h6m.12-1H10.88a.87.87,0,0,0-.88.88v6.24a.87.87,0,0,0,.88.88h6.24a.87.87,0,0,0,.88-.88V11.88a.87.87,0,0,0-.88-.88Z" /></svg>
                                    </a>
                                </span>
                                <div class="d-block d-md-inline-block">
                                    <div class="btn-group float-md-left mr-1 mb-1">
                                        <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Order By
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                        </div>
                                    </div>
                                    <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                                        <input placeholder="Search...">
                                    </div>
                                </div>
                                <div class="float-md-right">
                                    <span class="text-muted text-small">Displaying 1-10 of 210 items </span>
                                    <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        20
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">10</a>
                                        <a class="dropdown-item active" href="#">20</a>
                                        <a class="dropdown-item" href="#">30</a>
                                        <a class="dropdown-item" href="#">50</a>
                                        <a class="dropdown-item" href="#">100</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="separator mb-5"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 list" data-check-all="checkAll">
                        <div class="card d-flex flex-row mb-3">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-1 truncate w-40 w-xs-100" href="Layouts.Details.html">
                                        Marble Cake
                                    </a>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">Cakes</p>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">02.04.2018</p>
                                    <div class="w-15 w-xs-100">
                                        <span class="badge badge-pill badge-secondary">ON HOLD</span>
                                    </div>
                                </div>
                                <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="card d-flex flex-row mb-3">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-1 truncate w-40 w-xs-100" href="Layouts.Details.html">
                                        Fruitcake
                                    </a>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">Cupcakes</p>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">01.04.2018</p>
                                    <div class="w-15 w-xs-100">
                                        <span class="badge badge-pill badge-primary">PROCESSED</span>
                                    </div>
                                </div>

                                <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card d-flex flex-row mb-3">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-1 truncate w-40 w-xs-100" href="Layouts.Details.html">
                                        Chocolate Cake
                                    </a>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">Cakes</p>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">25.03.2018</p>
                                    <div class="w-15 w-xs-100">
                                        <span class="badge badge-pill badge-primary">PROCESSED</span>
                                    </div>
                                </div>
                                <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="card d-flex flex-row mb-3">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-1 truncate w-40 w-xs-100" href="Layouts.Details.html">
                                        Fat Rascal
                                    </a>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">Cupcakes</p>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">20.03.2018</p>
                                    <div class="w-15 w-xs-100">
                                        <span class="badge badge-pill badge-primary">PROCESSED</span>
                                    </div>
                                </div>

                                <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card d-flex flex-row mb-3">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-1 truncate w-40 w-xs-100" href="Layouts.Details.html">
                                        Financier
                                    </a>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">Cakes</p>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">15.03.2018</p>
                                    <div class="w-15 w-xs-100">
                                        <span class="badge badge-pill badge-secondary">ON HOLD</span>
                                    </div>
                                </div>
                                <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="card d-flex flex-row mb-3">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-1 truncate w-40 w-xs-100" href="Layouts.Details.html">
                                        Genoise
                                    </a>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">Cupcakes</p>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">11.03.2018</p>
                                    <div class="w-15 w-xs-100">
                                        <span class="badge badge-pill badge-primary">PROCESSED</span>
                                    </div>
                                </div>

                                <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card d-flex flex-row mb-3">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-1 truncate w-40 w-xs-100" href="Layouts.Details.html">
                                        Gingerbread
                                    </a>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">Cakes</p>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">10.03.2018</p>
                                    <div class="w-15 w-xs-100">
                                        <span class="badge badge-pill badge-secondary">ON HOLD</span>
                                    </div>
                                </div>
                                <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="card d-flex flex-row mb-3">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-1 truncate w-40 w-xs-100" href="Layouts.Details.html">
                                        Goose Breast
                                    </a>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">Cupcakes</p>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">27.02.2018</p>
                                    <div class="w-15 w-xs-100">
                                        <span class="badge badge-pill badge-secondary">ON HOLD</span>
                                    </div>
                                </div>

                                <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card d-flex flex-row mb-3">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-1 truncate w-40 w-xs-100" href="Layouts.Details.html">
                                        Magdalena
                                    </a>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">Cakes</p>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">22.02.2018</p>
                                    <div class="w-15 w-xs-100">
                                        <span class="badge badge-pill badge-primary">PROCESSED</span>
                                    </div>
                                </div>
                                <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="card d-flex flex-row mb-3">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-1 truncate w-40 w-xs-100" href="Layouts.Details.html">
                                        Cheesecake
                                    </a>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">Cupcakes</p>
                                    <p class="mb-1 text-muted text-small w-15 w-xs-100">18.02.2018</p>
                                    <div class="w-15 w-xs-100">
                                        <span class="badge badge-pill badge-primary">PROCESSED</span>
                                    </div>
                                </div>

                                <div class="custom-control custom-checkbox pl-1 align-self-center pr-4">
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label"></span>
                                    </label>
                                </div>
                            </div>
                        </div>


                        <nav class="mt-4 mb-3">
                            <ul class="pagination justify-content-center mb-0">
                                <li class="page-item ">
                                    <a class="page-link first" href="#">
                                        <i class="simple-icon-control-start"></i>
                                    </a>
                                </li>
                                <li class="page-item ">
                                    <a class="page-link prev" href="#">
                                        <i class="simple-icon-arrow-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item ">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item ">
                                    <a class="page-link next" href="#" aria-label="Next">
                                        <i class="simple-icon-arrow-right"></i>
                                    </a>
                                </li>
                                <li class="page-item ">
                                    <a class="page-link last" href="#">
                                        <i class="simple-icon-control-end"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            #} 


        </main>

        {% spaceless %}

            <!-- Modal -->
            <div class="modal fade" 
                 xid="modal_{{ sp_now }}_{{ man.id }}" 
                 id="di_modal" 
                 tabindex="-1" 
                 role="dialog" 
                 aria-labelledby="exampleModalCenterTitle" 
                 xaria-hidden="true" 
                 >
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="di_modal_header"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" >
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {#
                            <button type="button" class="btn btn-primary">Save changes</button>
                            #}
                        </div>
                    </div>
                </div>
            </div>                        


            {# <script src="{{ sdd }}js/vendor/jquery-3.3.1.min.js"></script> #} 
            {#<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>#}
            {# <script src="/js/jquery-3.3.1.min.js"></script> #}

            {# jquery-3.3.1 #}
            <script src="/vendor/components/jquery/jquery.min.js"></script>
            <script src="{{ sdd }}js/vendor/bootstrap.bundle.min.js"></script>

            {#dropdown.js#}
            {#
            <script src="/vendor/twbs/bootstrap/js/src/index.js"></script>
            #}

            {#  
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
            #} 

            <script src="{{ sdd }}js/vendor/perfect-scrollbar.min.js"></script>
            <script src="{{ sdd }}js/vendor/mousetrap.min.js"></script>
            <script src="{{ sdd }}js/vendor/jquery.contextMenu.min.js"></script>
            <script src="{{ sdd }}js/dore.script.js"></script>

            {# 
            <script src="{{ sdd }}js/scripts.js"></script>
            #} 
            <script src="{{ sdd }}js/scripts.single.theme.js"></script>

            {#        
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
            #}

            {#      
          <link rel="stylesheet" href="/vendor/fortawesome/font-awesome/css/fontawesome.min.css" />
          #}

            {#
            <link rel="stylesheet" href="/vendor/fortawesome/font-awesome/css/all.min.css" />
            #}

            {{ body_end|raw }}

            {% include sdd ~'../../template/preloader4/down.htm' %}

            <script src="https://use.fontawesome.com/a173724525.js"></script>
            {#<script src="/vendor/fortawesome/font-awesome/js/all.min.js"></script>#}
            {#<script src="/vendor/fortawesome/font-awesome/js/all.min.js"></script>#}
            {#<script src="/vendor/fortawesome/font-awesome/js-packages/@fortawesome/fontawesome-free/js/all.min.js"></script>#}
            {#<style src="/vendor/fortawesome/font-awesome/js-packages/@fortawesome/fontawesome-free/css/fontawesome.min.css"></style>#}
            {#<style src="/vendor/fortawesome/font-awesome/css/font-awesome.min.css"></style>#}

            <script type="text/javascript">
                    $(document).ready(function () { // вся мaгия пoслe зaгрузки стрaницы
                        function show_block_div($id_in = 'body_block_4125') {
                            $("body").append("<div id='body_block' class='body_block' >пару секунд вычисляем<br/><span id='" + $id_in + "'></span></div>");
                        }
                    });
            </script>

        {% endspaceless %}
        
    </body>
</html>